
<div class="col-sm-8 well">
  <h1><%= @word.name %></h1>
  <h3>"<%= @definition.definition %>"</h3>
  <img src="" alt="">
</div>
<div class="col-sm-4 well">
  <h4>More definitions for <%= @word.name %></h4>
  <ul>
    <% @word.definitions.each() do |definition|
      if definition.id != @definition.id %>
    <li><a href="/single_definition/<%= definition.id%>"> <%= definition.definition%></a></li>
    <% end %>
    <% end %>
  </ul>
  <button class="btn"><a href="/words_home">Back to word list</a></button>
  <a href="/">Clear all and start over</a>
</div>
